@import "../node_modules/@blueprintjs/core/lib/scss/variables";

body {
	margin: 0;
}

#app-root {
	margin: 0 auto;
	padding-bottom: 15px;
	min-height: calc(100vh - #{$pt-navbar-height});

	&.#{$ns}-dark {
		background: #30404d;
	}
}

.plain-link, .#{$ns}-dark .plain-link {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: none;
		color: inherit;
	}

	&:focus {
		outline: none;
	}
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.full-width {
	width: 100%;
}

.no-navbar {
	margin-top: -50px;
	padding: 75px 10px;
	min-height: 100vh;
}

textarea.full-width {
	min-width: 100%;
}

.password-manager-right-element-fix {
	.#{$ns}-input-action {
		right: 0;
	}
}
