@import "../node_modules/@blueprintjs/core/lib/scss/variables";

body {
	margin: 0;
}

#app-root {
	margin: 0 auto;
	min-height: calc(100vh - #{$pt-navbar-height});

	&.#{$ns}-dark {
		background: #30404d;
	}
}

.plain-link, .#{$ns}-dark .plain-link {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: none;
		color: inherit;
	}

	&:focus {
		outline: none;
	}
}