@import '../../../node_modules/@blueprintjs/core/lib/scss/variables';

#login-component {
	max-width: 400px;
	padding: 75px 10px;
	min-height: 100vh;
	margin: -#{$pt-navbar-height} auto 0;

	.password-reset-link {
		padding-left: 10px;
	}
}
